.idea/


local/tss_config/bridge_api_config.toml
local/tss_config/node0_config.toml
local/tss_config/node1_config.toml
local/tss_config/node2_config.toml
local/tss_config/node3_config.toml
local/tss_config/relayd_config.toml
local/tss_config/tss_clientState.json

local/nohup.out
local/helper/tss-bridge
local/helper/tss-node
local/helper/xibc-contracts
local/env_var/env_bsc_base.txt
local/env_var/env_bsc_token.txt
local/env_var/env_eth_base.txt
local/env_var/env_eth_token.txt


qa/helper/xibc-contracts/
